<section id="checkout">
<div class="container">
  <ul class="breadcrumb">
    <li>
    <a href="#">Home</a>
    <span class="divider">/</span>
    </li>
    <li>
    <a href="#">Product</a>
    <span class="divider">/</span>
    </li>
    <li class="active">CheckOut</li>
  </ul>
  <h1 class="headingmain"><span><%=" #{Spree.t(:shopping_cart)} (#{current_order.item_count})" %> </span></h1>
  <% if @order.line_items.empty? %>
    <div data-hook="empty_cart">
      <p><%= Spree.t(:your_cart_is_empty) %></p>
      <p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'btn btn-success' %></p>
    </div>
  <% else %>
    <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
      <div class="cart-info">
        <%= render :partial => 'form', :locals => { :order_form => order_form } %>
      </div>
      <%= render :partial => "spree/orders/adjustments", :locals => { :order_form => order_form } %>
    <% end %>   
  <% end %> <!-- end form -->
  <% unless @order.line_items.empty? %>
  <div class="row">
    <div class="pull-left">
      <div class="span5 pull-left">
        <%= form_tag empty_cart_path, :method => :put do %>
          <%= button_tag Spree.t(:empty_cart), :class => 'btn btn-success' %>
          <%= Spree.t(:or) %>
          <%= link_to Spree.t(:continue_shopping), products_path, :class => 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
</section>

